<!-- <mat-toolbar>
  <a href="/" style="text-decoration: none;">
    <h1>GameZone</h1>
  </a>

  <div class="nav">
    <div class="spacer"></div>
    <button  *ngIf="!isLoggedIn()" (click)="login()"  >Uloguj se</button>
    <button *ngIf="!isLoggedIn()" (click)="register()"  >Registruj se</button>
    <button mat-stroked-button *ngIf="isUser()" (click)="myProfile()"  >Moj Profil</button>
    <button *ngIf="isUser()" (click)="shop()" mat-stroked-button >Prodavnica</button>
    <button *ngIf="isUser()" (click)="myCart()" mat-stroked-button >Korpa</button>
    <button *ngIf="isLoggedIn()" (click)="logout()" mat-stroked-button >Odjavi se</button>
  </div>
</mat-toolbar> -->
<mat-toolbar class="toolbar">
  <div class="title">
    <a href="/" style="text-decoration: none;">
      <h1>GameZone</h1>
    </a>
  </div>

  <div class="nav">
    <button *ngIf="!isLoggedIn()" (click)="login()" mat-stroked-button>Uloguj se</button>
    <button *ngIf="!isLoggedIn()" (click)="register()" mat-stroked-button>Registruj se</button>
    <button *ngIf="isUser()" (click)="myProfile()" mat-stroked-button>Moj Profil</button>
    <button *ngIf="isUser()" (click)="shop()" mat-stroked-button>Prodavnica</button>
    <button *ngIf="isUser()" (click)="myCart()" mat-stroked-button>Korpa</button>
    <button *ngIf="isLoggedIn()" (click)="logout()" mat-stroked-button>Odjavi se</button>
  </div>
</mat-toolbar>