/* shop.component.css */

:host {
    display: block;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  
   #map {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
  }

  
  /* Media query for responsive layout */
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  
    h3 {
      font-size: 18px;
    }
  }
  