<div class="login-container">
  <mat-card class="login-card">
    <div class="spaced-div">
      <!-- <mat-card-header>
        <mat-card-title class="header">Uloguj se</mat-card-title>
      </mat-card-header> -->
      <h2 class="header">Uloguj se</h2>
    </div>
    <mat-card-content class="spaced-div">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="email">
          <mat-label>Email</mat-label>
          <div>
            <input class="form-field" matInput formControlName="email">
          </div>
        </div>
        <div class="password">
          <mat-label>Lozinka</mat-label>
          <div>
            <input class="form-field" matInput type="password" formControlName="password">
          </div>
        </div>
        <button mat-raised-button color="primary" class="login-button">Uloguj se</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
