<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Ime:</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the game title!">
        <input nz-input formControlName="name" id="name" readonly="readonly" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="shops">Prodavnica</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select a shop">
        <nz-select formControlName="shops" id="shops">
          <nz-option *ngFor="let shop of shops" [nzLabel]="getShopName(shop)" [nzValue]="shop.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item nz-row>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Zaposli</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  
