.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  /* Content area with a minimum height of the viewport */
  .content {
    /* flex: 1;
    min-height: calc(100vh - 60px); Subtract the footer height
    overflow-y: auto; Enable vertical scrolling when content overflows */
  }

  nz-header {
    padding: 10;
  }
  app-header {
    width: 100%;
    box-sizing: border-box;
  }
  nz-footer {
    background: #001529;
    color: #fff;
  }

  .ant-layout-header {
    display: flex;
    align-items: center;
}