.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  /* Content area with a minimum height of the viewport */
  .content {
    /* flex: 1;
    min-height: calc(100vh - 60px); Subtract the footer height
    overflow-y: auto; Enable vertical scrolling when content overflows */
  }

  nz-footer {
    background: #001529;
    color: #fff;
  }