.game-details {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .game-details img {
    max-width: 100%;
    height: auto;
  }

  .center {
    display: flex;
  }

  .btn-outline-secondary {
  border-radius: 50px;
  font-size: 0.9rem;
  padding: 6px 14px;
}

.btn-outline-secondary i {
  opacity: 0.7;
}

.image-wrapper {
  height: 420px;
  max-height: 420px;
}

.details-wrapper {
  height: 420px;
  max-height: 420px;
}


