<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="add-game-form">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="title">Naziv</nz-form-label>
    <nz-form-control nzErrorTip="Unesite naziv igre!">
      <nz-input-group nzPrefixIcon="game-console">
        <input nz-input formControlName="title" id="title" placeholder="Unesite naziv igre" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="description">Opis</nz-form-label>
    <nz-form-control nzErrorTip="Unesite opis igre!">
      <textarea nz-input formControlName="description" id="description" rows="4" placeholder="Unesite opis igre"
        nzAutosize></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="price">Cena</nz-form-label>
    <nz-form-control nzErrorTip="Unesite cenu igre!">
      <nz-input-group nzAddOnAfter="RSD">
        <nz-input-number formControlName="price" id="price" [nzMin]="0" [nzStep]="0.01" [nzPlaceHolder]="'Unesite cenu'"
          style="width: 100%;"></nz-input-number>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="releaseDate">Datum izlaska</nz-form-label>
    <nz-form-control nzErrorTip="Izaberite datum izlaska!">
      <nz-date-picker formControlName="release_date" id="release_date" nzPlaceHolder="Izaberite datum"
        style="width: 100%;"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="platforms">Platforme</nz-form-label>
    <nz-form-control nzErrorTip="Izaberite bar jednu platformu!">
      <nz-select formControlName="platforms" id="platforms" nzMode="multiple" nzPlaceHolder="Izaberite platforme"
        style="width: 100%;">
        <nz-option *ngFor="let platform of platformOptions" [nzLabel]="platform" [nzValue]="platform"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="genres">Žanrovi</nz-form-label>
    <nz-form-control nzErrorTip="Izaberite bar jedan žanr!">
      <nz-select formControlName="genres" id="genres" nzMode="multiple" nzPlaceHolder="Izaberite žanrove"
        style="width: 100%;">
        <nz-option *ngFor="let genre of genreOptions" [nzLabel]="genre" [nzValue]="genre"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="image">Slika</nz-form-label>
    <nz-form-control nzErrorTip="Unesite URL slike igre!">
      <nz-input-group nzPrefixIcon="picture">
        <input nz-input formControlName="image" id="image" placeholder="Unesite URL slike" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" nzDanger [disabled]="!validateForm.valid"
        style="width: 100%; background-color: green; border-color: green;">
        <i nz-icon nzType="plus"></i>Dodaj igricu
      </button>
    </nz-form-control>
  </nz-form-item>
</form>