.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registration-card {
    width: 400px;
    padding: 20px;
    text-align: left; 
    border: 1px solid #ccc; /* Add a border around the input field */
    border-radius: 4px;
  }
  
  .registration-title h2 {
    margin-bottom: 20px;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 20px;
    text-align: left; 
    border: 1px solid #ccc; /* Add a border around the input field */
    border-radius: 4px;
    
  }
  
  .registration-button {
    width: 100%;
  }

  .mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mat-card-header-text {
    display: flex;
  }
   

  