.container {
    margin: 5%, 1%, 5%, 1%;
}
.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

input {
    margin-right : 20px;
}
.ant-input-affix-wrapper {
    margin-right: 8%;
}